.staff-list-div ,#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
html{
    background-color: #ffe4c4;
}
body{
    background-color: transparent;
    padding-bottom: 5rem;
}
.staff-list-div select {
    width: 55vw;
    max-width: 200px;
}
.staff-list-switch {
    display: flex;
}
#header{
    margin-top: 0.3rem;
    justify-content: center;
}
.staff-list-div .form-switch {
    margin-left: 10px;
}
.staff-list-div label{
    width: max-content;
}
.staff-list-container{
    max-width: 500px;
    margin: auto;
}
#header img{
    max-height: 5rem;
    padding: 0.5rem;
}
table{
    display: none;
    text-align: center;
}
span{
    font-weight: 600;
}
#install{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    background: #0d6efd;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 1.5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
                0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 100;
}
#install i{
    margin: .5rem;
}